<!DOCTYPE html>
<html>

<head>
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet"> -->
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

  <div id="app">
    <v-app>
      <v-main>
        <v-navigation-drawer app width="500">
          <v-select label="Examples" v-model="form.example" :items="items" return-object item-text="name">
          </v-select>

          <div>
            <b>uniforms</b>
            <ace-editor-json style="height:40vh" v-model="form.uniforms"></ace-editor-json>
          </div>

          <div>
            <b>fragment</b>
            <ace-editor style="height:40vh" mode='glsl' v-model="form.fragment"></ace-editor>
          </div>
        </v-navigation-drawer>

        <div id="webgl" style="height:100%"></div>

      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
  <script type="module" src="app.js"></script>
</body>

</html>